html{
  font-family: 'Montserrat', sans-serif;
  background-color: lightblue;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.middle {
  position: fixed;
  width: 100%;
  margin: auto;
  background-color: whitesmoke;
  border-left-color: black;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 1px;
  border-top: solid navy 5px;
  overflow-y: scroll;
  height: 100%;
  padding: 50px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37)

}

.entry {
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 10px;
  margin-bottom: 40px;
}

#arti {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.6)
}
#auth_date {
  width: 100%;
  font-size: 20px;
}

#entry_content {
  font-size: 15px;
}
